/*.navigation{
    width: 100%;
    position: fixed;
    top:0px;
}*/
.navigation{
    box-shadow: 0px 2px 10px #b9b9b9;
}

.navigation-links {
    list-style: none;
    display: inline;
    vertical-align: middle;

}

.navigation-links li { 
    display: inline;
}

.navigation-links a{
    padding-left: 24px;
    padding-right: 24px;
    color: #7e7e7e;
    vertical-align: middle;
    text-decoration: none;
    font-style: normal;
    font-size: 50px;
    font-weight: 600;
}

.logo{
    display: inline;
    height: 50px;
    margin: 12px;
    vertical-align: middle;
}

.nav-separator{
    margin: 0;
    color: #111111;
}

body {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}