.navigation-links {
    list-style: none;
    display: inline;
    vertical-align: middle;
    font-size: 36px;
}

li {
    display: inline;
    margin: 20px;
}

.logo{
    display: inline;
    vertical-align: middle;
}

body,p, h1 {
  font-size: 18px;
  line-height: 22px;
  color: gray;
}