.menu-list {
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 20;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    -webkit-box-shadow: 0 2px 10px #d0d0d0;
    -ms-box-shadow: 0 2px 10px #d0d0d0;
    box-shadow: 0 2px 10px #d0d0d0;
}

.menu-item {
    padding: 0;
    margin: 0;
    height: 75px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}

    .menu-item > a {
        background-color: transparent;
        display: inline-block;
        margin: 0;
        padding: 0.5em 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #7e7e7e;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .menu-item:hover {
        background-color: #f9f9f9;
    }

    .menu-item > a > span {
        padding: 0;
    }

.green {
    color: #679469;
}

#contact-info {
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    /*color: #3d583e;*/
}

#contact-info dt {
    font-weight: 600;
    /*color: #3d583e;*/
}

.se {
    font-size: 25px;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#container {
    width: 100%;
    height: 400px;
    position: relative;
}

#contact-info {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 5%;
}

body {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #7e7e7e;
    margin: 0;
}
